.single_article {
    padding: 10px;
  }

  .sing_art_title{
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .art_body{
    text-align: left;
    padding-top: 10px;
  }

  .vote_btn{
    border-radius: 5px;
    margin-left: 10px;   
    background-color: azure; 
  }