.article_card {
  border: 3px solid lightblue;
  border-radius: 10px;
  margin-bottom: 20px;
}
.art_title {
  text-decoration: underline;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.1rem;
}
.art_img {
  width: 280px;
  border: 3px solid lightblue;
  margin-bottom: 10px;
}

.art_link{
    color: navy;
    font-size: 1.1rem;
}