#home {
  border: 3px solid lightblue;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(226, 247, 250);
}

.user {
  border: 3px solid lightblue;
  background-color: rgb(221, 244, 251);
  border-radius: 10px;
}

#user_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

#home_title {
  font-size: 1.2rem;
  font-weight: bold;
  color: navy;
}
#home_subtitle{
  border-bottom: 3px solid lightblue;
  padding-bottom: 10px;
  color: navy;
}

.username {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 10px;
  margin-bottom: 0;
}

.user_pics {
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  border: 3px solid lightblue;
  background-color: white;
}
.user_btn {
  margin: 10px;
  border-radius: 10px;
  background-color: azure;

}
.name {
  margin-bottom: 10px;
}
