#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: azure;
}
header {
  border: 2px solid lightblue;
  width: fit-content;
  margin: auto;
  padding: 10px;
}

img {
  width: 200px;
}

li {
  border: 2px solid rgb(122, 161, 232);
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

#comments_list{
  padding: 0;
}

.single_article {
  border: 2px solid rgb(122, 161, 232);
  padding: 10px;
}

nav {
  margin: 10px;
}

.comments_section {
  padding-top: 20px;
}
