#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: azure;
}
header {
  border: 2px solid lightblue;
  width: fit-content;
  margin: auto;
  padding: 10px;
}

img {
  width: 200px;
}
li {
  border: 2px solid cornflowerblue;
  margin-bottom: 20px;
}
ul {
  list-style-type: none;
  padding: 2rem;
}
