#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: azure;
}
header {
  border: 2px solid lightblue;
  width: fit-content;
  margin: auto;
  padding: 20px;
  padding-bottom: 0;
  color: navy;
}
#header_note{
  color: black;
  text-decoration: underline azure;
}
img {
  width: 200px;
}

li {
  border: 2px solid rgb(122, 161, 232);
  margin-bottom: 20px;
}

#comments_list{
  padding: 0;
  list-style-type: none;
}

#articles_list{
  padding: 0;
  list-style-type: none;
}

.single_article {
  border: 2px solid rgb(122, 161, 232);
  padding: 10px;
}
#home {
  border: 2px solid rgb(122, 161, 232);
  padding: 10px;
}
.user{
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid rgb(122, 161, 232);
}

.error{
  color: red;
  border: 2px solid red;
}

#comment_form{
  border: 2px solid rgb(122, 161, 232);
  margin-top: 20px;
}

nav {
  margin: 10px;
}

.nav_link{
  margin: 5px;
}

.comments_section {
  padding-top: 20px;
}

button{
  background-color: transparent;
}
